 .MyTabStyle .ajax__tab_header
        {
            font-family: "Helvetica Neue" , Arial, Sans-Serif;
            font-size: 13px;
            font-weight:bold;
            display: block;
        }
        
        .MyTabStyle .ajax__tab_header .ajax__tab_outer
        {
            border-color: #222;
            color: #222;
            padding-left: 10px;
            margin-right: 3px;
            border:solid 1px #d7d7d7;
            background-color: #d8d8c0;
        }
        
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
            {
                border-color: #FFFFFF;
                color: #666;
                padding: 3px 10px 2px 0px;
            }
        .MyTabStyle .ajax__tab_hover .ajax__tab_outer
            {
                background-color: #006600;
                color: #FFFFFF;
                cursor: pointer;
            }
        
        .MyTabStyle .ajax__tab_hover .ajax__tab_inner
        {
            color: #fff;
        }
        
        .MyTabStyle .ajax__tab_active .ajax__tab_outer
        {
            border-bottom-color: #ffffff;
            background-color: #006600;
        }
        
        .MyTabStyle .ajax__tab_active .ajax__tab_inner
        {
            color: #FFFFFF;
            border-color: #333;
        }
        
        .MyTabStyle .ajax__tab_body
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 10pt;
            background-color: #fff;
            border-top-width: 0;
            border: solid 1px #d7d7d7;
            border-top-color: #ffffff;
              background: -webkit-linear-gradient(white,#d9ecd0);
        }
